.menu-appear,
.menu-enter{
    transform: translateX(-100vw);
    transition: all 600ms ease;
}
.menu-appear-active,
.menu-enter.menu-enter-active{
    transform: translateX(0);
    transition: all 600ms ease;
}
.menu-exit{
    transform: translateX(0);
    transition: all 600ms ease;
}
.menu-exit.menu-exit-active{
    transform: translateX(-100vw);
    transition: all 600ms ease;
}